<html style="padding: 0; margin: 0;">

<body style="background: #EFEFEF; height: 100%; width: 100%; padding: 0; margin: 0;">
  <table style="width: 100%; padding: 0; border-spacing: 0px;">
    <tr style="border: none;">
      <td style="border: none; height: 100px; background: #FF1414; width: 200px; padding: 0; margin: 0;">
        <img src="https://github.com/OpenManifest/openmanifest/blob/main/assets/images/logo.png?raw=true" />
      </td>
      <td style="height: 100px; border: none; background: #FF1414; width: 100%; padding: 0; margin: 0;" colspan="2">
        <h1 style="color: white; font-weight: normal; margin-right: 200px">OpenManifest.org</h1>
      </td>
    </tr>
    <tr>
      <td colspan="2" style="width: 100%; text-align: center;">
        <table
          style="margin: auto auto; margin-top: 48px; margin-bottom: 48px; border-radius: 8px; box-shadow: 1px 1px 4px 1px #AAAA; width: 80%;  background-color: #FFFFFF; height: 200px">
          <tr>
            <td>
              <p style="color: #555">You or somebody else has requested a link to change your password. You can do this by clicking the link below.</p>
            </td>
          </tr>
          <tr>
            <td>
              <a href="<%= [URI.join(ENV['FRONTEND_URL'], 'change-password').to_s, URI.encode_www_form(token: @token)].join('?')  %>"
                style="padding: 10px; font-size: 16px; background-color: #FF1414; color: white; text-decoration: none; padding-left: 16px; padding-right: 16px; border-radius: 4px; border: none;">Reset password</button>
            </td>
          </tr>
        </table>
      </td>
    </tr>
    <tr>
      <td colspan="2"
        style="height: 100px; background: #FF1414; width: 100%; padding: 0; margin: 0; color: white; text-align: center;">
        OpenManifest.org
        <br />
        <a href="https://github.com/OpenManifest"
          style="font-size: 10px; color: white; text-decoration: none;">https://github.com/OpenManifest</span>
      </td>
    </tr>
  </table>
</body>

</html>